= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :event_id
    = f.number_field :event_id
  .field
    = f.label :comment
    = f.text_area :comment
  .field
    = f.label :type
    = f.text_field :type
  .actions
    = f.submit 'Save'
