%p#notice= notice

%p
  %b User:
  = @comment.user_id
%p
  %b Event:
  = @comment.event_id
%p
  %b Comment:
  = @comment.comment
%p
  %b Type:
  = @comment.type

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
