.page-header
  %h1 Events

- @events.each do |event|
  .panel.panel-success
    .panel-heading
      = link_to event.title, event
      .pull-right
        = link_to "Edit", edit_event_path(event)
        = link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
    .panel-body= event.description
    .panel-footer
      Created By:
      = event.user.try(:name)
      - unless event.user == current_user
        .pull-right
          = link_to new_flagged_item_path(item_id: event.id, type: event.class), id: "event_#{event.id}" do
            %span{class: "glyphicon glyphicon-flag", style: "color: red", title: "Flag this event"}

%br

= link_to 'New Event', new_event_path, class: "btn btn-primary"

:javascript 
  $(function() {
    
  });
