%p#notice= notice

.page-header
  %h1
    = @event.title
    %small
      Created By:
      = @event.user.try(:name)

%p
  %b Description:
  = @event.description
%p
  %b Start date:
  = @event.start_date
%p
  %b End date:
  = @event.end_date

%h3 Comments
- @event.comments.each do |comment|
  %p= comment.comment

= form_for [@event, @event.comments.build] do |f|
  = f.text_area :comment

  %br/
  = f.submit "Save"

%p= link_to "Donate", new_event_donation_path(@event), class: "btn btn-primary"

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
