= form_for @donation do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@donation.errors.count, "error")} prohibited this donation from being saved:"
      %ul
        - @donation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :challenge_id
    = f.number_field :challenge_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :event_id
    = f.number_field :event_id
  .field
    = f.label :donation_amount
    = f.text_field :donation_amount
  .actions
    = f.submit 'Save'
