%h1 Listing donations

%table
  %tr
    %th Challenge
    %th User
    %th Event
    %th Donation amount
    %th
    %th
    %th

  - @donations.each do |donation|
    %tr
      %td= donation.challenge_id
      %td= donation.user_id
      %td= donation.event_id
      %td= donation.donation_amount
      %td= link_to 'Show', donation
      %td= link_to 'Edit', edit_donation_path(donation)
      %td= link_to 'Destroy', donation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Donation', new_donation_path
