%p#notice= notice

%p
  %b Challenge:
  = @donation.challenge_id
%p
  %b User:
  = @donation.user_id
%p
  %b Event:
  = @donation.event_id
%p
  %b Donation amount:
  = @donation.donation_amount

= link_to 'Edit', edit_donation_path(@donation)
\|
= link_to 'Back', donations_path
