%h1 Listing submissions

%table
  %tr
    %th Challenge
    %th User
    %th
    %th
    %th

  - @submissions.each do |submission|
    %tr
      %td= submission.challenge_id
      %td= submission.user_id
      %td= link_to 'Show', submission
      %td= link_to 'Edit', edit_submission_path(submission)
      %td= link_to 'Destroy', submission, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Submission', new_submission_path
