= form_for @charity do |f|
  - if @charity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@charity.errors.count, "error")} prohibited this charity from being saved:"
      %ul
        - @charity.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :website
    = f.text_field :website
  .actions
    = f.submit 'Save'
