%p#notice= notice

%p
  %b Name:
  = @charity.name
%p
  %b Description:
  = @charity.description
%p
  %b Website:
  = @charity.website

= link_to 'Edit', edit_charity_path(@charity)
\|
= link_to 'Back', charities_path
