= form_for @flagged_item do |f|
  - if @flagged_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flagged_item.errors.count, "error")} prohibited this flagged_item from being saved:"
      %ul
        - @flagged_item.errors.full_messages.each do |msg|
          %li= msg

  %p
    Flagging 
    = @flagged_item.item_type.constantize.find(@flagged_item.item_id).title
  = f.hidden_field :item_id
  = f.hidden_field :item_type
  .field
    = f.label :reason
    = f.text_area :reason
  .actions
    = f.submit 'Save'
