%h1 Listing flagged_items

%table
  %tr
    %th Item
    %th Item type
    %th Reason
    %th User
    %th Moderator
    %th Flagged
    %th
    %th
    %th

  - @flagged_items.each do |flagged_item|
    %tr
      %td= flagged_item.item_id
      %td= flagged_item.item_type
      %td= flagged_item.reason
      %td= flagged_item.user_id
      %td= flagged_item.moderator_id
      %td= flagged_item.flagged
      %td= link_to 'Show', flagged_item
      %td= link_to 'Edit', edit_flagged_item_path(flagged_item)
      %td= link_to 'Destroy', flagged_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Flagged item', new_flagged_item_path
