%p#notice= notice

%p
  %b Item:
  = @flagged_item.item_id
%p
  %b Item type:
  = @flagged_item.item_type
%p
  %b Reason:
  = @flagged_item.reason
%p
  %b User:
  = @flagged_item.user_id
%p
  %b Moderator:
  = @flagged_item.moderator_id
%p
  %b Flagged:
  = @flagged_item.flagged

= link_to 'Edit', edit_flagged_item_path(@flagged_item)
\|
= link_to 'Back', flagged_items_path
