= bootstrap_nested_form_for @challenge do |f|
  - if @challenge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@challenge.errors.count, "error")} prohibited this challenge from being saved:"
      %ul
        - @challenge.errors.full_messages.each do |msg|
          %li= msg

  = f.select :challenge_type, Challenge.challenge_types.keys
  = f.text_field :title
  = f.text_area :description
  .local
    = f.datetime_local_field :start_time
    = f.datetime_local_field :end_time
  .online
    = f.date_field :end_date

  .local
    %h2 Location
    = f.fields_for_with_bootstrap :location do |af|
      = af.text_field :name
      = af.text_field :line1
      = af.text_field :line2
      = af.text_field :city
      = af.text_field :state
      = af.text_field :zip
      = af.text_field :country

  .actions
    = f.submit 'Save'

:javascript
  $(document).ready(function() {
    $('#challenge_challenge_type').change(function() {
      if($(this).val() == "online") {
        $('.online').show();
        $('.local').hide();
      } else {
        $('.online').hide();
        $('.local').show();
      }
    });
    $('#challenge_challenge_type').change();
  });
