.page-header
  %h1 Challenges

- @challenges.each do |challenge|
  .panel.panel-success
    .panel-heading
      .pull-right{style: "margin-top: 7px"}
        = link_to edit_challenge_path(challenge) do
          %span.glyphicon.glyphicon-pencil{title: "Edit Challenge", style: "color: black;"}
        = link_to challenge, :method => :delete, :data => { :confirm => 'Are you sure?' } do
          %span.glyphicon.glyphicon-remove{title: "Remove Challenge", style: "color: red;"}
      %h3{style: "margin-top: 5px; margin-bottom: 5px"}
        = link_to challenge.title, challenge
        %small= challenge.formatted_times
    .panel-body= challenge.description
    .panel-footer
      %b Created By:
      = challenge.user.try(:name)
      - unless challenge.user == current_user
        .pull-right
          = link_to "Flag", new_flagged_item_path(item_id: challenge.id, type: challenge.class)

%br

= link_to 'New Challenge', new_challenge_path, class: "btn btn-primary"
