%p#notice= notice

.page-header
  %h1
    = @challenge.title
    %small
      Created By:
      = @challenge.user.try(:name)

%p
  %b Challenge Type:
  = @challenge.challenge_type
%p
  %b Description:
  = @challenge.description

- if @challenge.online?
  %p
    %b End date:
    = @challenge.end_date

- if @challenge.local?
  %p
    %b Start Time:
    = @challenge.start_time.localtime
  %p
    %b End Time:
    = @challenge.end_time.localtime

  %h3 Location
  = simple_format @challenge.pretty_location


%h3 Comments
- @challenge.comments.each do |comment|
  %p= comment.comment

= form_for [@challenge, @challenge.comments.build] do |f|
  = f.text_area :comment

  %br/
  = f.submit "Save"

%p= link_to "Donate", new_challenge_donation_path(@challenge), class: "btn btn-primary"

= link_to 'Edit', edit_challenge_path(@challenge)
\|
= link_to 'Back', challenges_path
