-# add navigation links to this file
%li{class: (request.url =~ /\/events/ ? "active" : "")}= link_to "Events", events_path
%li{class: (request.url =~ /\/challenges/ ? "active" : "")}= link_to "Challenges", challenges_path

